{% extends 'base.html' %}

{% block body %}



<section style="background-image: url('static/images/form01.jpg');" class=" rounded bg-center bg-cover bg-no-repeat ">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
            <div class="lg:col-span-2 lg:py-12">
            <h2 class="text-5xl font-semibold text-blue-700 mb-8 bg-blue-200/50 p-4">Raise An Issue Here</h2>
                <p class="max-w-xl text-3xl  font-semibold bg-slate-200/50 p-4">
                    
                    Thank you so much for taking the time to Raising An 
                    
                    Issue With Us. We'll Try To Resolve It As Soon As Possible
                </p>

                <div class="mt-8">
                    <a href="" class="text-2xl font-bold text-blue-800 bg-blue-200/50 p-4">
                        1800-2000-103
                    </a>

                    <address class="mt-8 not-italic font-semibold text-xl bg-slate-200/50 p-4 ">
                        Parivahan Marg, Chaumu House <br>
                        Jaipur, Rajasthan - 302001
                    </address>
                </div>
            </div>

            <div class="rounded-lg bg-transparent p-8 shadow-lg lg:col-span-3 lg:p-12">
                <form action="" class="space-y-4">
                    <div>
                        <label class="sr-only " for="name">Full Name</label>
                        <input class="w-full rounded-lg border-gray-200 p-3 text-sm font-semibold bg-blue-100/80 placeholder:text-blue-800 placeholder:font-semibold" placeholder="Full Name" type="text"
                            id="name" />
                    </div>

                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                        <div>
                            <label class="sr-only" for="aadhar">Aadhar Number </label>
                            <input class="w-full rounded-lg border-gray-200 p-3 text-sm bg-blue-100/80 placeholder:text-blue-800/50  font-semibold placeholder:font-semibold " placeholder="Aadhar Number"
                            disabled type="number" id="aadhar" />
                        </div>

                        <div>
                            <label class="sr-only" for="phone">Phone</label>
                            <input class="w-full rounded-lg border-gray-200 p-3 text-sm bg-blue-100/80 font-semibold  placeholder:text-blue-800 placeholder:font-semibold" placeholder="Phone Number"
                                type="number" id="phone" />
                        </div>
                    </div>

                   

                    <div>
                        <label class="sr-only" for="message">Issue</label>

                        <textarea class="w-full rounded-lg  font-semibold  border-gray-200 p-3 text-sm bg-blue-100/80 placeholder:text-blue-800 placeholder:font-semibold" placeholder="Write Your Issue" rows="5"
                            id="message"></textarea>
                    </div>

                    <div class="mt-4 w-full">
                        <button type="submit"
                            class="inline-block w-full rounded-lg bg-blue-600 px-5 py-3 font-medium text-white sm:w-auto hover:bg-blue-600/80">
                            Send Your Issue
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock body %}